<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <footer role="contentinfo">
        <p class="text-center"><small>Copyright &copy; Emmanuel Asante</small></p>
      </footer>
    </div>
  </div>
</div>